<h3>Banco de preguntas</h3>
<h4><%= subtitulo %></h4>

<!-- colocar buscador (Fin Tema 9) -->
<div id="search" >
	<form action="/quizes/search" method="get" >
		<input type="text" name="search" placeholder="Texto a buscar" id="consulta" title="Buscar las preguntas que contengan ..." />
		<button type="submit" title="Efectuar Busqueda" alt="Boton de Busqueda" />
			<img src="/images/lupa.png">
		</button>
	</form>
</div>

<div class="reset"></div>

<table id="preguntas">
	<% var i; for (i = 0; i < quizes.length; ++i ) { %>
		<tr>
			<td><a href="/quizes/<%= quizes[i].id %>"><%= quizes[i].pregunta %></a></td>
			<td id="tema">(<%= quizes[i].tema %>)</td>

			<td><a href="/quizes/<%= quizes[i].id %>/edit"><button> editar </button></a></td>
			<td>
				<form action="/quizes/<%= quizes[i].id %>?_method=delete" method="post" >
					<button type="submit" title="Borra Registro" alt="Boton de Borrado" 	onClick="return confirm('Borrar: <%= quizes[i].pregunta %>?');" />
					 Borrar 
					</button>
				</form>
			</td>

		</tr>
	<% } %>
</table>

<a href="/quizes/new">
	<button type="button">Crear Pregunta</button>
</a>
